::-webkit-scrollbar {
	display:none; }

::selection {
  background: rgb(70);
  color: rgb(70); }

a#name::selection {
  background: #8C5F45;
  color: rgb(70); }

a#exhi::selection {
  background: #B1624F;
  color: rgb(70); }

a#work::selection {
  background: #F78F57;
  color: rgb(70); }

a#cine::selection {
  background: #D37569;
  color: rgb(70); }

a#musi::selection {
  background: #E97A66;
  color: rgb(70); }

p#below::selection {
  background: #FF3FBF;
  color: rgb(70); }

a#info::selection {
  background: #FFC36D;
  color: rgb(70); }

.dname:hover {
background-color: #5C3A21;
color: rgb(255,255,255);
transition: 0.3s;}

.dexhi:hover {
background-color: #8B3C24;
color: rgb(255,255,255);
transition: 0.3s;}

.dcine:hover {
background-color: #B43A2F;
color: rgb(255,255,255);
transition: 0.3s;}

.dmusi:hover {
background-color: #D9482D;
color: rgb(255,255,255);
transition: 0.3s;}

.dwork:hover {
background-color: #F25C1D;
color: rgb(255,255,255);
transition: 0.3s;}

.dinfo:hover {
background-color: #FFA034;
color: rgb(255,255,255);
transition: 0.3s;}

.header {
background-color: rgba(245,245,245,0);
margin-top: 1.6%;
min-height: 50%;
display: flex;
flex-direction: row;
justify content: space-between;
position: sticky;
width: 100%;
top: 0;
z-index: 99; }

.dname {
margin-left: 1.45%;
position: relative;
flex-basis: 20%;
display: block;
justify-content: center;
align-items: center;
z-index: 100;
transition-duration: 10s;
transition-property: background; }

#name { 
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
z-index: 101; }

.dwork {
position: relative;
flex-basis: 16%;
display: block;
justify-content: center;
align-items: center;
margin-left:0.4%;
transition-duration: 10s;
transition-property: background; }

.dmusi {
position: relative;
flex-basis: 16%;
display: block;
justify-content: center;
align-items: center;
margin-left:0.4%;
transition-duration: 10s;
transition-property: background; }

.dcine {
position: relative;
flex-basis: 16%;
display: block;
justify-content: center;
align-items: center;
margin-left:0.4%;
transition-duration: 10s;
transition-property: background; }

.dexhi {
position: relative;
flex-basis: 16%;
display: block;
justify-content: center;
align-items: center;
margin-left:0.4%;
transition-duration: 10s;
transition-property: background; }

#work {
display: block;
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
display: inline-block; }

#cine {
display: block;
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
display: inline-block; }

#musi {
display: block;
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
display: inline-block; }

.dinfo {
margin-right: 1.45%;
position: relative;
flex-basis: 16%;
display: block;
justify-content: endright;
align-items: endright;
padding: 0;
margin-left:0.4%;
transition-duration: 10s;
transition-property: background; 
}

#info {
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
display: inline-block;
}

#exhi { 
text-size-adjust: 100%;
text-transform: none;
width: auto;
z-index: 99;
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: auto;
text-decoration-color: rgb(1,1,1)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
z-index: 101;
transition-duration: 8s;
transition-property: background;  }

.io {
width:10%;
height: auto;
display: block;
background: rgb(70,176,225);
color: rgb(1,1,1);
cursor: url('EARTH1.png'), auto;
font-family: 'Inter', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
float:left;
z-index: 101;
margin-left: 30%; }

#below {
color: #000000;
font-family: 'Inter', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 400;
height: auto;
left: 1.45%;
margin: 0;
line-height: auto;
position: fixed;
text-decoration-color: rgb(55,55,55)
text-decoration-line: none;
text-decoration: none;
text-decoration-style: solid; 
text-decoration-thickness: auto;
text-size-adjust: 100%;
text-transform: none;
bottom: 2.9%;
width: auto;
z-index: 99; }

body{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
background-attachment: fixed;
position: fixed;
top = 0;
bottom = 0;
left = 0;
right = 0;
background-color: rgb(253,255,233);
/* background-image: url('graphic2.png'); */
background-size:100% 100%; }
